[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
python-dotenv = "*"
wtforms = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-cors = "*"
flask-migrate = "*"
flask-login = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.11"
