:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #141414; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #141414;
}
.modalScrollBar {
  direction: rtl;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.relative:focus-within label {
  transform: translate(-0.4rem, -0.8rem) scale(0.7);
}
#slider::-webkit-scrollbar {
  display: none;
}
.card-enter {
  opacity: 0;
}

.card-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.card-exit {
  opacity: 1;
}

.card-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
@layer components {
  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }
}
.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  transition: all 0.3s ease-out;
}
.ModalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
  animation: closeModal 1s ease-out forwards;
}

.fade-slide-enter {
  transform: scale(0.5);
}

.fade-slide-enter-active {
  opacity: 1;
  transform-origin: var(--modal-origin-x) var(--modal-origin-y);
  transform: translateX(0);
  transition: opacity 300ms, transform 500ms;
}

.fade-slide-exit {
  opacity: 1;
}

.fade-slide-exit-active {
  opacity: 0;
  transform-origin: var(--modal-origin-x) var(--modal-origin-y);
  transform: scale(0);
  transition: opacity 300ms, transform 500ms;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
